.whole{
    background-color:#EEEEEE ;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    height: 50px;
    padding: 0 20px;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links li:first-child {
    margin-left: 0;
  }
  
  .navbar-links li a {
    display: block;
    color: #333;
    text-align: center; 
    padding: 16px;
    text-decoration: none;
  }
  .slogan {
    font-size: 20px;
    margin-top: 45px;
      margin-left: 460px
  }
  
  .email-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .email-box input {
    height: 40px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .get-started {
    display: block;
    margin: 20px auto;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .premium-materials {
    font-size: 24px;
    margin-top: 40px;
    margin-left: 325pxh;
  }
  
  .premium-description {
    font-size: 18px;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  